body {
    background: url('./background.webp') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.cloud {
    position: absolute;
    background: url('./cloud1.png') no-repeat;
    animation: moveClouds var(--animation-duration) linear infinite;
    animation-delay: var(--animation-delay); /* Add animation delay */
    top: var(--top-position); /* Set top position */
    left: 0;
    z-index: 10;
    background-size: contain; /* Ensure the cloud image is visible */
}

@keyframes moveClouds {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100vw);
    }
}

/* Define variables for each cloud */
.cloud:nth-child(1) {
    --top-position: 10%;
    --animation-duration: 15s; /* Faster animation */
    --animation-delay: 0s;
    width: 200px;
    height: 100px;
}

.cloud:nth-child(2) {
    --top-position: 20%;
    --animation-duration: 12s; /* Faster animation */
    --animation-delay: 3s;
    width: 250px;
    height: 125px;
}

.cloud:nth-child(3) {
    --top-position: 30%;
    --animation-duration: 18s; /* Faster animation */
    --animation-delay: 6s;
    width: 300px;
    height: 150px;
}

.cloud:nth-child(4) {
    --top-position: 40%;
    --animation-duration: 9s; /* Faster animation */
    --animation-delay: 9s;
    width: 350px;
    height: 175px;
}

.cloud:nth-child(5) {
    --top-position: 50%;
    --animation-duration: 21s; /* Faster animation */
    --animation-delay: 12s;
    width: 400px;
    height: 200px;
}

.cloud:nth-child(6) {
    --top-position: 60%;
    --animation-duration: 15s; /* Faster animation */
    --animation-delay: 15s;
    width: 450px;
    height: 225px;
}

.cloud:nth-child(7) {
    --top-position: 70%;
    --animation-duration: 12s; /* Faster animation */
    --animation-delay: 18s;
    width: 500px;
    height: 250px;
}

.cloud:nth-child(8) {
    --top-position: 80%;
    --animation-duration: 18s; /* Faster animation */
    --animation-delay: 21s;
    width: 550px;
    height: 275px;
}

.cloud:nth-child(9) {
    --top-position: 90%;
    --animation-duration: 9s; /* Faster animation */
    --animation-delay: 24s;
    width: 600px;
    height: 300px;
}

.cloud:nth-child(10) {
    --top-position: 100%;
    --animation-duration: 21s; /* Faster animation */
    --animation-delay: 27s;
    width: 650px;
    height: 325px;
}